@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Laboratory 2</h1>
    <a href="Libroes/Index">Go to Libros Controller - Index View</a><br />
    <a href="Usuarios/Index">Go to Usuarios Controller - Index View</a><br />
    <a href="Prestamos/Index">Go to Prestamos Controller - Index View</a><br />
    <a href="PrestamosSP/Index">Go to Prestamos - SP Controller - Index View</a><br />
</div>
