@model Prj_JACV_LogManagementSerilogMVCApp.Models.Movie

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MovName" class="control-label"></label>
                <input asp-for="MovName" class="form-control" />
                <span asp-validation-for="MovName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovDirector" class="control-label"></label>
                <input asp-for="MovDirector" class="form-control" />
                <span asp-validation-for="MovDirector" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovType" class="control-label"></label>
                <input asp-for="MovType" class="form-control" />
                <span asp-validation-for="MovType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovYear" class="control-label"></label>
                <input asp-for="MovYear" class="form-control" />
                <span asp-validation-for="MovYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovWorldWideGross" class="control-label"></label>
                <input asp-for="MovWorldWideGross" class="form-control" />
                <span asp-validation-for="MovWorldWideGross" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovDateCreated" class="control-label"></label>
                <input asp-for="MovDateCreated" class="form-control" />
                <span asp-validation-for="MovDateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
