@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="Students/Index">Go to Students Controller - Index View</a><br />
    <a href="Courses/Index">Go to Course Controller - Index View</a><br />
    <a href="Grades/Index">Go to Grade Controller - Index View</a><br />
    <a href="GradesSP/Index">Go to GradeSP Controller - Index View</a><br />
</div>
